body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 3px;
    padding: 5px 20px;
    margin-top: 20px;
    cursor: pointer;
}

img {
  width: 400px;
  height: 200px;
  padding: 20px;
  margin-left: 30px;
}

.header {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.container {
    background-color: #1F2937;
    color: white;
    
}

.header-section {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 70px;
    flex-shrink: 0;
}

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 40px;
    margin: 20px;
    
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    
    
}

.hero-main-text {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.info-header-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}
